  <section id="search" class="search-wrap">
    <h1>Find A Doctor</h1>
    <form action="/docs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Medical specialists, etc...">
      <input type="submit" value="Search">
    </form>
  </section>